<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<div style="position: relative;overflow: hidden;" id=<?php echo $id.$pseudo; ?>>
    <input type="hidden" value="<?php echo $id; ?>" id="id">
    <div style="display: flex;position: relative;">
        <img src=<?php if($profilePicture == ""){echo "./data/image/profile_Picture/default.webp";}else{echo $profilePicture;} ?> id='profilePicture' onclick=document.location.href="profile.php?user=<?php echo $pseudo ?>">
        <p id="user"><?php echo $pseudo;?></p>
    </div>
    <p id="message" class="message"><?php echo $message;?></p>
    <?php if($pseudo == $_SESSION['Pseudo']){echo "
    <img src='../data/svg/more.svg' id='more".$id.$pseudo."'style='filter: invert(100%);opacity: 40%;'>
    <div id='command".$id.$pseudo."' style='display:none;'>
        <button style='color: red;border-radius: 20px;' id='delete".$id.$pseudo."'>Supprimer</button> 
    </div>";} ?>
    <div class="hr"></div>
</div>
<style>
    #message{
        margin-left: 5vw;  
        margin-top: -2.5vh; 
    }
    #more<?php echo $id.$pseudo;?>{
        width: 1.5vw;
        aspect-ratio: initial;
        position: absolute;
        right: 1vw;
        top: 2vh;
        cursor: pointer;
    }
    #more<?php echo $id.$pseudo; ?>:hover{
        background-color: grey;
        border-radius: 50%;
    }
    #command<?php echo $id.$pseudo; ?>{
        position: absolute;
        right: 1vw;
        top: 2vh;
        width: 25vw;
        background-color: black;
        -moz-box-shadow: 0 0 3px #ccc;
        -webkit-box-shadow: 0 0 3px #ccc;
        box-shadow: 0 0 3px #ccc;
        border-radius: 20px;
        cursor: pointer;
    }
    #command<?php echo $id.$pseudo; ?> button{
        width: 100%;
        height: 4vh;
        border: none;
        background: transparent;
        color: white;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
        font-weight: bold;
    }
    #delete<?php echo $id.$pseudo; ?>:hover{
        background-color: #202020;
    }
</style>
<script>
    $('#more<?php echo $id.$pseudo;?>').click(function(){
        $('#command<?php echo $id.$pseudo; ?>').css('display','inline')
    })
    $('#delete<?php echo $id.$pseudo ?>').click(function(){
        $.ajax({
            type:'POST',
            url:'../php/deleteTweet.php',
            data:{
                id: '<?php echo $id; ?>',
                pseudo: '<?php echo $pseudo ?>',
            },
            success: function(output){
                $('#<?php echo $id.$pseudo; ?>').css('display','none')
                console.log(output)
            },
            error:function(output){
                
            }
        })
    })
</script>