<div class="navSide" id="navSide">
    <span id="verticale1"></span>
    <div>
        <i class="fa-brands fa-twitter fa-2x"></i>
        <div class="navButton">
            <i class="fa-solid fa-house fa-2x"></i>
            <p>Accueil</p>
        </div>
        <div class="navButton">
            <i class="fa-regular fa-hashtag fa-2x"></i>
            <p>Explorer</p>
        </div>
        <div class="navButton">
            <i class="fa-regular fa-bell fa-2x"></i>
            <p>Notifications</p>
        </div>
        <div class="navButton">
            <i class="fa-regular fa-envelope fa-2x"></i>
            <p>Message</p>
        </div>
        <div class="navButton">
            <i class="fa-regular fa-bookmark fa-2x"></i>
            <p>Signet</p>
        </div>
        <div class="navButton">
            <i class="fa-regular fa-user fa-2x"></i>
            <p>Profile</p>
        </div>
        <div class="navButton">
            <i class="fa-solid fa-gear fa-2x "></i>
            <p>Réglage</p>
        </div> 
    </div>
</div>
<style>
    .fa-twitter{
    margin-top: 2vh;
    grid-column: 1;
    margin-left: 8vw;
    }
</style>