<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Accueil</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="../css/mutual.css" rel="stylesheet" >
    <link href="../css/profile.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/ecca3bec75.js" crossorigin="anonymous"></script>
</head>
<body bgcolor="black">
    <?php require 'navside.html';?>
    <div id="mainContent">
        <div id="header">
            <img src="../data/svg/arrow.webp" id="backArrow" onclick=document.location.href="Accueil.php">
            <p id="AccueilText"><?php echo $pseudo ?></p>
            <p id="tweetNumber"><?php echo getTweetNumber($pseudo)?> tweets</p>
        </div>
        <div class="hr" style="margin-bottom: 2vh;"></div>
        <img src=<?php echo $banner ?> id="banner">
        <img src=<?php echo $profilePicture ?> id="profile_picture">
        <?php if($pseudo == $_SESSION['Pseudo']){echo '<button id="editButton" class="editButton">éditer le profile</button>';
        echo'<div id="editInterface" style="display: none;">
            <div id="editInterfaceBackground">
                <img src="../data/svg/cross.png" id="exitCross">
                <p id="editText">éditer le profile</p> 
                <button id="submit">Enregistrer</button>
                <div style="position: relative;">
                    <img src='.$banner.' id="banner2">
                    <input type="file" id="bannerInput" style="display: none;" oninput="cameraChange()">
                    <img src="../data/svg/camera.svg" id="camera">
                </div>
                <div style="position: relative;margin-top: -5vw;margin-left: 2vw;z-index: 100;width: min-content;">
                    <img src='.$profilePicture.' id="profile_picture2">
                    <input type="file" id="profileInput" style="display: none;" oninput="cameraChange2()">
                    <img src="../data/svg/camera.svg" id="camera2">
                </div>
                <div>
                    <textarea type="text" placeholder="Biographie" id="biographieInput">'.$biographie.'</textarea>
                </div>
            </div>
        </div>';}else{
            $displayFollow = '';
            $displayUnFollow = '';
            if(isFollowing($_SESSION['Pseudo'],$pseudo)){
                $displayFollow = 'none';
            }else{
                $displayUnFollow = 'none';
            }
            echo '<button style="display:'.$displayFollow.';" id="followButton" class="editButton followButton">Suivre</button>
                <button style="display:'.$displayUnFollow.';" id="unFollowButton" class="editButton unFollowButton">Ne plus suivre</button>
            ';
        } ?>
        <p id="pseudo"><?php echo $pseudo?></p>
        <P id="biographie"><?php echo $biographie ?></P>
        <p class="numberOFFollowing"><?php echo $numberOfFollowing ?> abonnements</p>  
        <p class="numberOFFollowing"><?php echo $numberOfFollower ?> abonnés</p>
        <div class="hr" style="margin-top: 2vh;"></div>
        <div id="debug"></div>
        <div id="tweet">
            <?php displayUserTweet($pseudo) ?>
        </div>
    </div>
    <?php require 'rightSide.html';?>
    <script src="./js/profile.js"></script>
    <script>
        var listIcons = ['AccueilIcon']
        for(var x=0;x<listIcons.length;x++){
            console.log('#'.element)
            if($('#'.element).hasClass('fa-regular')){
                $('#'.element).removeClass('fa-regular')
                $('#'.element).addClass('fa-solid')
            }
            if($('#'.element).hasClass('fa-solid')){
                $('#'.element).removeClass('fa-solid')
                $('#'.element).addClass('fa-regular')
            }
        };
        $('#profileIcon').addClass('fa-solid')
        $('#profileIcon').removeClass('fa-regular')
        $('#followButton').click(function(){
            $.ajax({
                type:'POST',
                url:'../php/follow.php',
                data:{
                    Followed:'<?php echo $pseudo ?>',
                },
                success: function(output){
                    console.log(output)
                    $('#followButton').css('display','none')
                    $('#unFollowButton').css('display','')
                    $('.followOnTweet').css('display','none')
                    $('.unFollowOnTweet').css('display','')
                }
            })
        })
        $('#unFollowButton').click(function(){
            $.ajax({
                type:'POST',
                url:'../php/unfollow.php',
                data:{
                    Followed:'<?php echo $pseudo ?>',
                },
                success: function(){
                    $('#followButton').css('display','')
                    $('#unFollowButton').css('display','none')
                    $('.followOnTweet').css('display','')
                    $('.unFollowOnTweet').css('display','none')
                }
            })
        })
    </script>
</body>
</html>