<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<div style="position: relative;overflow: hidden;" id=<?php echo $id.$pseudo; ?>>
    <input type="hidden" value="<?php echo $id; ?>" id="id">
    <div style="display: flex;position: relative;">
        <img src=<?php if($profilePicture == ""){echo "../data/image/profile_picture/default.webp";}else{echo $profilePicture;} ?> id='profilePicture' onclick=document.location.href="profile.php?user=<?php echo $pseudo ?>">
        <p id="user"><?php echo $pseudo;?></p>
        <p id="creationDate"><?php echo $creationDate; ?></p>
    </div>
    <p id="message<?php echo $pseudo.$id ?>" class="message"><?php echo $message;?></p>
    <img <?php if($object != ""){echo "src=".$object;}?> id="object">
    <img src="../data/svg/more.svg" id='more<?php echo $id.$pseudo; ?>'style="filter: invert(100%);opacity: 40%;">
    <div id="command<?php echo $id.$pseudo; ?>" style="display:none;">
        <?php if($pseudo == $_SESSION['Pseudo']){echo '<button style="color: red;border-radius: 20px;" id=delete'.$id.$pseudo.'>Supprimer</button>';} ?>
        <button style="border-top-left-radius: 14px;border-top-right-radius: 14px;<?php if($isFollowing || $_SESSION['Pseudo'] == $pseudo){echo 'display:none;';}?>" id=follow<?php echo $id.$pseudo ?> class="followOnTweet">Suivre <?php echo $pseudo; ?></button>
        <button style="color: red;border-top-left-radius: 14px;border-top-right-radius: 14px;<?php if(!$isFollowing){echo 'display:none;';}?>" id=unfollow<?php echo $id.$pseudo ?> class="unFollowOnTweet">Ne plus suivre <?php echo $pseudo; ?></button>
        <button style="color: red;"id=block<?php echo $id.$pseudo ?>>Bloquer <?php echo $pseudo; ?></button>
        <button style='border-bottom-left-radius: 14px;border-bottom-right-radius: 14px;<?php if(isInSignet($_SESSION["Pseudo"],$pseudo,$id)){echo "display: none;";}?>' id="signets<?php echo $pseudo.$id?>">Ajouter aux Signets</button>
        <button style='color: red;border-bottom-left-radius: 14px;border-bottom-right-radius: 14px;<?php if(!isInSignet($_SESSION["Pseudo"],$pseudo,$id)){echo "display: none;";}?>' id="deletesignets<?php echo $pseudo.$id?>">Retirer des signets</button>
    </div>
    <div style="float:left;max-height: 1vw;margin-top:-2.5vh;" class="allInteract">
        <img src="../data/svg/comment.svg" id="<?php echo $pseudo.$id.'comment' ?>" class="interactButton">
        <p class="likeNumber"><?php echo getNumberOfComment($pseudo, $id); ?></p>
        <img src="<?php if(!isTweetLiked($_SESSION['Pseudo'],$pseudo,$id)){echo '../data/svg/heart.svg';}else{echo '../data/svg/heartRed.svg';} ?>" class="heart interactButton" id="<?php echo 'heart'.$pseudo.$id ?>" style="<?php if(isTweetLiked($_SESSION['Pseudo'],$pseudo,$id)){ echo 'filter:invert(0%);';} ?>">
        <p class="likeNumber" id="likeNumber<?php echo $pseudo.$id ?>"><?php echo getNumberOfLike($pseudo,$id)?></p>
    </div>
    <div class="hr"></div>
</div>  
<div id="commentBackground<?php echo $pseudo.$id;?>" style="display:none;">
    <div class="tweetBackgroundComment">
        <i class="fa-solid fa-x fa-xl close" style= "color: white;margin-top: 2vh;margin-left: 1vw;" id="closeComment<?php echo $pseudo.$id;?>"></i>
        <input type="hidden" value="<?php echo $id; ?>" id="id">
        <div style="display: flex;position: relative;margin-top: 5vh;" class="tweetData">
            <img src=<?php if($profilePicture == ""){echo "../data/image/profile_picture/default.webp";}else{echo $profilePicture;} ?> id='profilePicture' onclick=document.location.href="profile.php?user=<?php echo $pseudo ?>">
            <p id="user"><?php echo $pseudo;?></p>
            <p id="creationDate"><?php echo $creationDate; ?></p>
        </div>
        <p id="message<?php echo $pseudo.$id ?>" class="message"><?php echo $message;?></p>
        <img <?php if($object != ""){echo "src=".$object;}?> id="object">
        <img src="<?php if(getProfilePicture($_SESSION['Pseudo']) == null){echo '../data/image/profile_picture/default.webp';}
        else{echo getProfilePicture($_SESSION['Pseudo']);};?>" id="profilePicture" style="left: 1vw;position: absolute;">
        <textarea class="tweetYourAnswer" placeholder="Tweetez votre réponse." id="Answer<?php echo $pseudo.$id ?>" oninput="AnswerButtonComment<?php echo $pseudo.$id;?>()"></textarea>
        <button class="answerButton" id="answerButton<?php echo $pseudo.$id ?>">Répondre</button>
    </div>  
</div>
<div id="debug"></div>
  
<style>
    .hr{
        background-color: rgb(97, 97, 97);
        width: 100vw;
        height: 1px;
        margin-top: 1vh;
    }
    p{
        color: white;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    }
    #creationDate{
        color: grey;
        margin-left: 1vw;
    }
    #user{
        position: relative;
        font-weight: bold;
        margin-left: 0.5vw;
    }
    #profilePicture{
        border-radius: 50%;
        width: 3.5vw;
        aspect-ratio: 1/1;
        margin-left: 1vw;
        grid-column: 1;
        grid-row: 1;
        object-fit: cover;
        margin-top: 2vh;
    }
    #message<?php echo $pseudo.$id ?>{
        margin-left: 5vw;  
        margin-top: -2.5vh; 
    }
    #object{
        width: 30vw;
        border-radius: 20px;
        margin-left: 6vw;
        margin-bottom: 3vh;
    }
    #more<?php echo $id.$pseudo;?>{
        width: 1.5vw;
        aspect-ratio: initial;
        position: absolute;
        right: 1vw;
        top: 2vh;
        cursor: pointer;
    }
    #more<?php echo $id.$pseudo; ?>:hover{
        background-color: grey;
        border-radius: 50%;
    }
    #command<?php echo $id.$pseudo; ?>{
        position: absolute;
        right: 1vw;
        top: 2vh;
        width: 25vw;
        background-color: black;
        -moz-box-shadow: 0 0 3px #ccc;
        -webkit-box-shadow: 0 0 3px #ccc;
        box-shadow: 0 0 3px #ccc;
        border-radius: 20px;
        cursor: pointer;
    }
    #delete<?php echo $id.$pseudo; ?>:hover{
        background-color: #202020;
    }
    #follow<?php echo $id.$pseudo ?>:hover{
        background-color: #202020;
    }
    #unfollow<?php echo $id.$pseudo ?>:hover{
        background-color: #202020;
    }
    #block<?php echo $id.$pseudo ?>:hover{
        background-color: #202020;
    }
    #command<?php echo $id.$pseudo; ?> button{
        width: 100%;
        height: 4vh;
        border: none;
        background: transparent;
        color: white;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
        font-weight: bold;
    }
    #signets<?php echo $pseudo.$id;?>:hover{
        background-color: #202020;
    }
    #deletesignets<?php echo $pseudo.$id;?>:hover{
        background-color: #202020;
    }
    .heart{
        filter: invert(100%);
        float: left;
        margin-left: 5vw;
        width: 1.2vw;
    }
    .likeNumber{
        color: gray;
        float: left;
        transform: translate(0%,-90%);
        margin-left: 0.4vw;
    }
    #<?php echo $pseudo.$id.'comment'?>{
        filter: invert(100%);
        float: left;
        margin-left: 8vw;
        width: 1.2vw;
    }
    #commentBackground<?php echo $pseudo.$id;?>{
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0px;
        left: 0px;
        background-color: rgba(124,185,241, 0.3);
        z-index: 150;
    }
    .tweetBackgroundComment{
        background-color: black;
        position: absolute;
        top: 50vh;
        left: 50vw;
        transform: translate(-50%,-50%);
        padding: 1vw;
        border-radius: 20px;
    }
    .tweetYourAnswer{
        margin-left: 6vw;
        width: 80%;
        background-color: black;
        border: none;
        resize: none;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
        font-size: 17px;
        outline: none;
        color: white;
    }
    .answerButton{
        border-radius: 20px;
        width: 7vw;
        height: 5vh;
        background-color: #1d9bf0;
        float: right;
        color: white;
        font-size: 16px;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
        font-weight: bold;
        text-align: center;
        border: none;
        margin-right: 2vw;
        opacity: 0.6;
    }
</style>
<script>
    document.getElementById("<?php echo $id.$pseudo; ?>").addEventListener('click',(event) => {
        console.log(event.target)
        if(event.target == document.getElementById("<?php echo $id.$pseudo; ?>") || event.target == document.getElementById("message<?php echo $pseudo.$id; ?>")){
            document.location.href="post.php?<?php echo 'Pseudo='.$pseudo.'&ID='.$id ?>"
        }
    })
    $('#more<?php echo $id.$pseudo; ?>').click(function(){
            $('#command<?php echo $id.$pseudo; ?>').css('display','')
    })
    $('#delete<?php echo $id.$pseudo; ?>').click(function(){
       
        $.ajax({
            type:'POST',
            url:'../php/deleteTweet.php',
            data:{
                id: '<?php echo $id; ?>',
                pseudo: '<?php echo $pseudo ?>',
            },
            success: function(output){
                $('#<?php echo $id.$pseudo; ?>').css('display','none')
                console.log(output)
            },
            error:function(output){
                
            }
        })
    })
    $('#follow<?php echo $id.$pseudo; ?>').click(function(){
        $.ajax({
            type:'POST',
            url:'../php/follow.php',
            data:{
                Followed:'<?php echo $pseudo ?>',
            },
            success: function(output){
                console.log(output)
                $('#follow<?php echo $id.$pseudo; ?>').css('display','none')
                $('#unfollow<?php echo $id.$pseudo?>').css('display','')
                <?php if(isset($pseudo)){
                    echo "$('#unFollowButton').css('display','')
                    $('#followButton').css('display','none')";
                }?>
            }
        })
    })
    $('#unfollow<?php echo $id.$pseudo?>').click(function(){
        $.ajax({
            type:'POST',
            url:'../php/unfollow.php',
            data:{
                Followed:'<?php echo $pseudo ?>',
            },
            success: function(){
                $('#follow<?php echo $id.$pseudo; ?>').css('display','')
                $('#unfollow<?php echo $id.$pseudo?>').css('display','none')
                <?php if(isset($pseudo)){
                    echo "$('#followButton').css('display','')
                    $('#unFollowButton').css('display','none')";
                }?>
            }
        })
    })
    $('#block<?php echo $id.$pseudo?>').click(function(){
        $.ajax({
            type:"POST",
            url:"../php/block.php",
            data:{
                Blocked:'<?php echo $pseudo ?>',
            },
            success: function(){
                document.getElementById('<?php echo $id.$pseudo?>').style.display = 'none'
            }
        })
    })
    $('#signets<?php echo $pseudo.$id ?>').click(function(){
        $.ajax({
            type:"POST",
            url:"../php/addSignets.php",
            data:{
                Author:'<?php echo $pseudo ?>',
                ID:'<?php echo $id?>'
            },
            success:function(output){
                $('#deletesignets<?php echo $pseudo.$id ?>').css('display','')
                $('#signets<?php echo $pseudo.$id ?>').css('display','none')
            }
        })
        })
        $('#deletesignets<?php echo $pseudo.$id ?>').click(function(){
        console.log('click working')
        $.ajax({
            type:"POST",
            url:"../php/removeFromSignets.php",
            data:{
                Author:'<?php echo $pseudo ?>',
                ID:'<?php echo $id?>'
            },
            success:function(output){
                $('#deletesignets<?php echo $pseudo.$id ?>').css('display','none')
                $('#signets<?php echo $pseudo.$id ?>').css('display','')
            }
        })
        })
    var Liked = false
    var initState = 'unlike'
    if($('#heart<?php echo $pseudo.$id ?>').attr('src') == '../data/svg/heartRed.svg'){
        var initState = 'like'
    }
    $('#heart<?php echo $pseudo.$id ?>').click(function(){
        $.ajax({
            type:"POST",
            url:"../php/like.php",
            data:{
                Author:'<?php echo $pseudo ?>',
                ID:'<?php echo $id?>'
            },
            success:function(output){
                if(output == 'added'){
                    $('#heart<?php echo $pseudo.$id ?>').css('filter','invert(0%)')
                    $('#heart<?php echo $pseudo.$id ?>').attr('src','../data/svg/heartRed.svg')
                    if(Liked == true){
                        $('#likeNumber<?php echo $pseudo.$id ?>').text(<?php echo  getNumberOfLike($pseudo,$id)?>)
                    }else{
                        $('#likeNumber<?php echo $pseudo.$id ?>').text(<?php echo  getNumberOfLike($pseudo,$id)?> +1)
                    }
                    
                }else{
                    Liked = true
                    $('#heart<?php echo $pseudo.$id ?>').css('filter','invert(100%)')
                    $('#heart<?php echo $pseudo.$id ?>').attr('src','../data/svg/heart.svg')
                    if(initState == 'like'){
                        $('#likeNumber<?php echo $pseudo.$id ?>').text(<?php echo  getNumberOfLike($pseudo,$id)?> -1)
                    }else{
                        $('#likeNumber<?php echo $pseudo.$id ?>').text(<?php echo  getNumberOfLike($pseudo,$id)?>)
                    }
                }
                
            }
        })
    })

    $("#<?php echo $pseudo.$id.'comment' ?>").click(function(){
        $("#commentBackground<?php echo $pseudo.$id;?>").css('top',window.scrollY+'px')
        $("#commentBackground<?php echo $pseudo.$id;?>").css('display','inline')
        $('body').css('overflow-y','hidden')
        $('#mainContent').css('position','static')
        $('.editButton').css('margin-right','-100vw')
    })

    $("#closeComment<?php echo $pseudo.$id;?>").click(function(){
        $("#commentBackground<?php echo $pseudo.$id;?>").css('display','none')
        $('body').css('overflow-y','visible')
        $('#mainContent').css('position','relative')
        $('.editButton').css('margin-right','0px')
    })

    $(document).click(function(event) { 
        if(!$(event.target).closest('#<?php echo $id.$pseudo; ?>').length) {
            $('#command<?php echo $id.$pseudo; ?>').css('display','none')
        } 
    });

    function AnswerButtonComment<?php echo $pseudo.$id;?>(){
    if($('#Answer<?php echo $pseudo.$id ?>').val() != ''){
        $('#answerButton<?php echo $pseudo.$id ?>').css('opacity','1')
    }else{
        $('#answerButton<?php echo $pseudo.$id ?>').css('opacity','0.6')
    }
    }
    $('#answerButton<?php echo $pseudo.$id ?>').click(function(){
        if($('#Answer<?php echo $pseudo.$id ?>').val() != ''){
            console.log('function running')
            $.ajax({
                type:"POST",
            url:"../php/writeACommentOnAPost.php",
            data:{
                PostUser:'<?php echo $pseudo ?>',
                ID_Post:'<?php echo $id?>',
                Message: $('#Answer<?php echo $pseudo.$id ?>').val(),
                Author: "<?php echo $_SESSION['Pseudo'] ?>"
            },
            success: function(output){
                document.getElementById('tweet').insertAdjacentHTML('afterbegin',output)
                $("#commentBackground<?php echo $pseudo.$id;?>").css('display','none')
                $('body').css('overflow-y','visible')
                $('#mainContent').css('position','relative')
                $('.editButton').css('margin-right','0px')
            }
            })
        }
    })

</script>